 
  .categories {
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 8px;
    background: var(--primary-1);
  
    h2 {
      font-size: 2rem;
      color: rgb(54, 54, 54);
    }
  }
  
  .categoryGrid {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
  }
  
  .categoryCard {
    background: var(--primary-6);
    color: var(--text);
    padding: 1.5rem;
    border-radius: 8px;
    width: 150px;
    font-weight: bold;
  }
  