.productCard {
    background: transparent;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid  rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    text-align: center;

    .productTitle{
        font-size: 1.1rem;
        color: var(--text);
        padding: 4px 2px;
    }

    .productPrice{
        font-size: 0.9rem;
        color: var(--text);
        padding: 5px 2px;
    }
    
    .productImage {
        width: 100%;
        height: 400px;
        object-fit: cover; 
    }
    
    .productInfo {
        padding: 10px;
    }

    .productInfoA {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .productInfoB {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .addToCartButton {
        border: 2px solid var(--secondary);
        background: transparent;
        color: var(--text);
        font-size: 1rem;
        padding: 12px 25px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        margin: 1.2rem;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.3s;
    }
    
    .addToCartButton:hover {
        background: var(--secondary-1);
    }
    
    .addToCartButton:disabled {
        background: #ccc;
        cursor: not-allowed;
    }
}