.featured {
  text-align: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  height: 100vh;

  h1{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--text);
    padding: 3rem 0 2rem 0;
    text-align: left;
  }
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
}

.productLink {
  text-decoration: none;
  color: inherit;
}
