@use '../../styles/mixins' as mixins;

.featuredSection{
  background-color: var(--gray);
}

.featured {
  @include mixins.section-container;
}

.featured h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text);
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  position: relative;
  text-align: left;
    
    @media (max-width: 768px) {
      font-size: 2rem;
      margin-bottom: 0;
      padding-bottom: 0;
    }

  &::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 10rem;
    height: 2px;
    background-color: var(--primary);

  }
}

.productListWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1250px; 
  @media (max-width: 768px) {
    height: 100dvh;
  }
}

.productList {
  display: flex;
  gap: 0.5rem; 
  overflow-x: auto; 
  scroll-behavior: smooth; 
  padding: 1rem 0;
  flex-grow: 1;
  scroll-behavior: smooth; 
  
  &::-webkit-scrollbar {
    display: none;
  }
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(56, 56, 56, 0.4);
  color: rgb(73, 73, 73);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 2px 4px rgb(12, 12, 12, 0.4);
  transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: rgba(56, 56, 56, 0.2);
    }
}

.carouselButton:first-of-type {
  left: 0rem;
}

.carouselButton:last-of-type {
  right: 0rem;
}
