.footer {
    background-color: var(--dark);
    color: var(--text);
    padding: 2rem 1rem;
    font-size: 0.9rem;
  
    .container {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      gap: 2rem;
      padding-top: 1.5rem;
    }
  
    .logoSection {
      flex: 1;
      min-width: 200px;
  
      h3 {
        font-size: 2rem;
        font-weight: 400;
        color: var(--primary);
      }
  
      p {
        margin-top: 1.5rem;
        font-size: 1rem;
        color: #ccc;
      }
    }
  
    .linksSection {
      flex: 1;
      min-width: 200px;
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin-bottom: 1.5rem;
  
          a {
            color: #fff;
            font-size: 1rem;
            text-decoration: none;
            transition: color 0.3s;
  
            &:hover {
              color: var(--primary);
            }
          }
        }
      }
    }
  
    .socialSection {
      flex: 1;
      min-width: 200px;
  
      p {
        margin-bottom: 2rem;
        font-size: 1rem;
        color: #ebebeb;
      }
  
      .socialIcons {
        display: flex;
        gap: 1rem;
  
        a {
          display: inline-block;
          font-size: 2rem;
          color: #f3f3f3;
          transition: color 0.3s;
  
          &:hover {
            color: var(--primary);
          }
        }
      }
    }

    .bottomBar {
      margin-top: 2rem;
      text-align: center;
      border-top: 1px solid #444;
      padding-top: 1rem;
      color: #aaa;
  
      p {
        margin: 0;
      }
    }
  }