@use '../../styles/mixins' as mixins;

.testimonialsSection{
   background-color: var(--gray);
}

.testimonials {
   @include mixins.section-container;
  
    h2 {
      font-size: 2rem;
      font-weight: 500;
      color: var(--text);
      margin-bottom: 1rem;
      position: relative;
      padding-bottom: 1.5rem;
      text-align: left;
        
        @media (max-width: 768px) {
          font-size: 2rem;
        }
    }
  
    .testimonialsGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 1.5rem;
    }
  
    .testimonialCard {
      text-align: left;
      padding: 2.5rem;
      border-radius: 8px;
      background-color: #eeeeee;
      border: 2px solid rgb(1, 109, 126, 0.2);
      border-radius: 8px;
      box-shadow: 0 6px 8px rgba(30, 31, 31, 0.3);

        @media (max-width: 768px) {
          padding: 1rem;
        }
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 1rem;
          @media (max-width: 768px) {
            width: 50px;
            height: 50px;
          }
      }
  
      p {
        font-style: italic;
        color: #555;
        @media (max-width: 768px) {
          font-size: 0.9rem;
        }
      }
  
      h4 {
        margin-top: 0.5rem;
        font-size: 1rem;
        color: #333;
      }
    }
  }